export(perm.test)
export(null.gen)
export(check_formula)
export(clean_formula)
importFrom(stats, lm, rnorm, predict)
importFrom(dplyr, mutate, across)
importFrom(confusionMatrix)
importFrom(nnet, multinom)
importFrom(xgboost, xgb.train, xgb.DMatrix)
importFrom(ranger, ranger)